.navbar ul {
	list-style: none;
	padding-inline: 0;
	text-decoration: none;
	margin-top: 3rem;
}

/* logo */
.navbar .logo-wrapper {
	max-width: 14rem;
}

.logo-image {
	width: 100%;
}

.navbar ul li {
	width: 15rem;
	margin-bottom: 1.6rem;
	font-size: 20px;
	line-height: 32px;
}

.navbar ul li a {
	text-decoration: none;
	opacity: 0.4;
}

.navbar ul li a:link,
.navbar ul li a:visited {
	color: #fff;
}

.navbar ul li a.active {
	font-weight: bold;
	opacity: 1;
}

.navbar nav ul {
	display: flex;
	margin-top: 3.2rem;
	justify-content: space-between;
	padding-bottom: 0;
}

.navbar {
	padding-bottom: 0;
}

.navbar ul {
	margin-top: 1rem;
}

.navbar ul li {
	margin-bottom: 0;
}

.logo-wrapper {
	width: 10rem;
}

.avatar-wrapper {
	margin-top: auto;
	width: 48px;
	height: 48px;
}

.avatar-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: box-shadow 0.3s ease;
}

.avatar-wrapper img:hover {
	transform: scale(1.2);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	transition: transform 0.6s ease;
}

img {
	width: 100%;
}

/* Sidebar */

.foruser-page {
	/* border: 1px solid; */
	height: 100%;
	display: flex;
	flex-direction: column;
}

.foruser-page .page-heading {
	margin-top: 0;
	font-size: 3.2rem;
	line-height: 36px;
}

.foruser-page .search {
	display: flex;
}

.input-search {
	outline: none;
	border: none;
	width: 100%;
	line-height: 2.8rem;
	font-size: 1.8rem;
	border-radius: 8px 0 0 8px;
	background: rgba(255, 255, 255, 0.08);
	color: #fff;
	padding: 8px 16px;
}

.search-logo {
	width: 3.2rem;
	display: flex;
	border-radius: 0 8px 8px 0;
	background: rgba(255, 255, 255, 0.08);
	cursor: pointer;
	padding: 0 8px;
}

/* music list - data */
.music-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;
}

.music-list-item {
	display: flex;
	align-items: center;
	padding: 1.6rem 0;
	gap: 1.6rem;
}

.music-image {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
}

.music-info h4 {
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 0;
	font-weight: 400;
}

.music-info p {
	font-size: 1.4rem;
	opacity: 0.6;
	line-height: 2.4rem;
}

.music-duration {
	margin-left: auto;
	font-size: 1.8rem;
	line-height: 2.4rem;
	opacity: 0.6;
}

/* player */
.player {
	display: flex;
	flex-direction: column;
}

.player h2 {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 3.6rem;
	margin: 0;
}

.player p {
	font-size: 1.6rem;
	opacity: 0.6;
	margin-top: 8px;
}

.player-cover {
	margin-top: 3.2rem;
	max-width: 100%;
}

.input-seek-player {
	margin-top: 2.4rem;
}
.player-controls {
	margin-top: 3.2rem;
	display: flex;
	justify-content: space-between;
}

@media (min-width: 1024px) {
	.navbar ul {
		flex-direction: column;
	}

	.navbar {
		display: flex;
		flex-direction: column;
	}
}
