.navbar ul {
	list-style: none;
	padding-inline: 0;
	text-decoration: none;
	margin-top: 3rem;
}

/* logo */
.navbar .logo-wrapper {
	max-width: 14rem;
	/* display: none; */
	margin: 0 auto;
	order: -2;
}

.logo-image {
	width: 100%;
}

.navbar ul li {
	width: 15rem;
	margin-bottom: 1.6rem;
	font-size: 20px;
	line-height: 32px;
}

.navbar ul li a {
	text-decoration: none;
	opacity: 0.4;
}

.navbar ul li a:link,
.navbar ul li a:visited {
	color: #fff;
}

.navbar ul li a.active {
	font-weight: bold;
	opacity: 1;
}

.navbar nav ul {
	display: flex;
	margin-top: 3.2rem;
	justify-content: space-between;
	padding-bottom: 0;
	flex-wrap: wrap;
}

.navbar {
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.navbar ul {
	margin-top: 1rem;
}

.navbar ul li {
	margin-bottom: 0;
}

.logo-wrapper {
	width: 10rem;
}

.avatar-wrapper {
	margin-top: auto;
	width: 48px;
	height: 48px;
}

.navbar-actions-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	order: -1;
	margin-bottom: 3.6rem;
}

.avatar-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: box-shadow 0.3s ease;
}

.avatar-wrapper img:hover {
	transform: scale(1.2);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	transition: transform 0.6s ease;
}

img {
	width: 100%;
}

/* Sidebar */

.foruser-page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.foruser-page .page-heading,
.page-heading {
	margin-top: 0;
	font-size: 3.2rem;
	line-height: 36px;
}

.foruser-page .search {
	display: flex;
}

.input-search {
	outline: none;
	border: none;
	width: 100%;
	line-height: 2.8rem;
	font-size: 1.8rem;
	border-radius: 8px 0 0 8px;
	background: rgba(255, 255, 255, 0.08);
	color: #fff;
	padding: 8px 16px;
}

.search-logo {
	width: 3.2rem;
	display: flex;
	border-radius: 0 8px 8px 0;
	background: rgba(255, 255, 255, 0.08);
	cursor: pointer;
	padding: 0 8px;
}

/* music list - data */
.music-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;
}

.music-list-item {
	display: flex;
	align-items: center;
	padding: 1.6rem;
	gap: 1.6rem;
	cursor: pointer;
}

.music-image {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
}

.music-info h4 {
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 0;
	font-weight: 400;
}

.music-info p {
	font-size: 1.4rem;
	opacity: 0.6;
	line-height: 2.4rem;
}

.music-duration {
	margin-left: auto;
	font-size: 1.8rem;
	line-height: 2.4rem;
	opacity: 0.6;
}

/* player */
.player {
	display: flex;
	flex-direction: column;
	/* padding-bottom: 4rem; */
}

.player h2 {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 3.6rem;
	margin: 0;
}

.player p {
	font-size: 1.6rem;
	opacity: 0.6;
	margin-top: 8px;
}

.player-cover {
	margin-top: 3.2rem;
	max-width: 100%;
}

.input-seek-player {
	margin-top: 2.4rem;
}

.player-controls {
	margin-top: 3.2rem;
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}

.player,
.sidebar,
.navbar {
	width: 80%;
	justify-self: center;
}

input[type="range"] {
	width: 100%;
	margin-top: 2.4rem;
	accent-color: #fff;
}

input[type="range"]::-webkit-slider-thumb {
	opacity: 0.6;
	cursor: pointer;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* controls */

.btn {
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	outline: none;
	padding: 1rem;
	display: grid;
	place-content: center;
	cursor: pointer;
	color: #fff;
}

.btn-show-navbar {
	color: #ccc;
	font-size: 1.4rem;
}

.primary-actions {
	display: flex;
	gap: 2rem;
}

.btn img {
	width: 2.4rem;
	height: 2.4rem;
}

.btn-play img {
	width: 4.8rem;
	height: 4.8rem;
}

.time {
	display: flex;
	justify-content: space-between;
}

.btn-pause {
	background: #fff;
}

.btn-pause .pause-img {
	width: 2.4rem;
	height: 2.4rem;
}

.btn-prev,
.btn-next {
	background: none;
}

.btn-prev img,
.btn-next img {
	width: 3.2rem;
	height: 3.2rem;
}

.currentSong {
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.08);
}

@media (min-width: 980px) {
	.navbar ul {
		flex-direction: column;
	}

	.navbar {
		display: flex;
		flex-direction: column;
	}

	.player,
	.sidebar,
	.navbar {
		width: 100%;
	}

	.navbar-actions-wrapper {
		margin-top: auto;
		order: 1;
	}

	.show-navbar {
		display: none;
	}

	.navbar .logo-wrapper {
		display: block;
		margin: 0;
	}
}
