/* global styles */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	max-width: 1512px;
	margin: 0 auto;
	border: 1px solid #fff;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(#201606, #000000);
}

/* layout container */
.layout {
	color: #fff;
}
