/* global styles */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	max-width: 1512px;
	margin: 0 auto;
	border: 0.5px solid #454545;
	background: linear-gradient(#201606, #000000);
}

/* layout container */

.layout {
	color: #fff;
	display: grid;
	grid-template-areas:
		"player player"
		"navbar navbar"
		"sidebar sidebar";
}

.layout > * {
	padding: 3.2rem;
}

.sidebar {
	grid-area: sidebar;
}

.navbar {
	grid-area: navbar;
}

.player {
	grid-area: player;
	height: 50rem;
}

.layout > * {
	border: 0.5px solid #454545;
}

@media (min-width: 768px) {
	.layout {
		color: #fff;
		display: grid;
		height: 100vh;
		grid-template-rows: auto;
		grid-template-areas: "navbar sidebar player player";
	}

	.sidebar {
		padding: 3.2rem 1.6rem;
	}

	.player {
		padding: 10rem 16rem;
		height: auto;
	}

	.navbar {
		padding: 3.2rem;
	}
}
