@font-face {
	font-family: "Basier Circle";
	src: url("./fonts/fontStyle/basiercircle-regular.otf");
}

/* global styles */
html {
	font-size: 62.5%;
	background: linear-gradient(#201606, #000000);
}

body {
	font-size: 1.6rem;
	max-width: 1512px;
	margin: 0 auto;
	font-family: "Basier Circle", sans-serif;
}

/* layout container */

.layout {
	color: #fff;
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		"player player"
		"navbar navbar"
		"sidebar sidebar";
}

.sidebar {
	grid-area: sidebar;
	padding: 1.6rem;
}

.navbar {
	grid-area: navbar;
	padding: 1.6rem;
	padding-bottom: 0;
}

.player {
	grid-area: player;
	padding: 1.6rem;
}

@media (min-width: 768px) {
	.layout {
		color: #fff;
		display: grid;
		grid-template-areas: "navbar sidebar player";
	}

	.sidebar {
		padding: 3.2rem 1.6rem;
		min-width: 32rem;
	}

	.player {
		padding: 10rem 16rem;
	}
	.navbar {
		padding: 3.2rem;
	}
}
